<!DOCTYPE html>
<html>

<head>
    <include file="Index:meta" />
    <include file="Index:css" />
    <link rel="stylesheet" href="/Public/css/style/style.css">
    <link rel="stylesheet" href="/Public/plugins/datatables/dataTables.bootstrap.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="/Public/plugins/daterangepicker/daterangepicker-bs3.css">
    <style>

    </style>
</head>
<body>
<section class="content-header">
    <h1 class="text-left">
        积分信息<span class="small" id="userTel"></span>
    </h1>
</section>
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <table id="list" class="table table-bordered">
        </table>
    </div>

    <!-- /.box-body -->
    <div class="box-footer clearfix page">
    </div>
</div>


<include file="Index:js" />
<!-- DataTables -->
<script src="/Public/js/public/dataTableCusV2.js"></script>
<script src="/Public/js/integral/integralInfo.js"></script>
<script>

</script>
</body>
</html>