<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo" target="_top">
        <span class="logo-mini"><b>欧尚评驾运管平台</b></span>
        <span class="logo-lg"><b>欧尚评驾运管平台</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:void(0);" target="_top">
                        <i class="fa fa-sitemap"></i> <span id="orgText"></span>
                    </a>
                    <div id="orgTree" class="dropdown-topnav hide"></div>
                </li> 
                <li class="dropdown" id="displayMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> 
                        <i class="fa fa-user"></i> 
                        <span class="hidden-xs" id="displayName">超级管理员</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);" id="changePsw" target="_top">
                                <i class="fa fa-lock text-aqua"></i> 修改密码
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Login/loginOut" target="_top">
                                <i class="fa fa-power-off text-yellow"></i> 退出
                            </a>
                        </li> 
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
